.product-detail-img {
  width: 100%;
  max-width: 350px;
  object-fit: contain;
  padding: 1rem;
}

@media (max-width: 768px) {
  .product-detail-img {
    max-width: 100%;
  }

  .add-to-cart-btn {
    width: 100%;
  }
}
